:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links should inherit color by default or use Bootstrap classes */
a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  color: #212529;
}

.post-layout {
  width: 720px;
  height: 100vh;
  margin: auto;
  padding: 2rem 1rem;
  background-color: aliceblue;
}